<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Simple Kanban Board Application</title>
        <link href="/assets/styles/bootstrap.min-5.2.css" rel="stylesheet">
        <script src="/assets/scripts/bootstrap.bundle.min-5.2.js"></script>
        <link rel="stylesheet" href="/assets/fonts/bootstrap-icons-1.9.1.css">
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    </head>
    <body class="py-4">
        <main>
            <div class="container">
                <h1>Simple Kanban Board Application</h1>
                <p class="lead">Description.</p>
                {{#milestones}}
                    {{> milestone}}
                {{/milestones}}
        </main>
    </body>
</html>