<div>
{{#issues}}
    <div style="display:inline-block;margin:20px;border:1px solid gray;padding:20px;">
        <h2>Queued</h2>
        {{#open.length}}
            <ul>
            {{#open.data}}
                <li><b>{{title}}</b></li>
            {{/open.data}}
            </ul>
        {{/open.length}}
    </div>
    <div style="display:inline-block;margin:20px;border:1px solid gray;padding:20px;">
        <h2>Closed</h2>
        {{#closed.length}}
            <ul>
            {{#closed.data}}
                <li><b>{{title}}</b></li>
            {{/closed.data}}
            </ul>
        {{/closed.length}}
    </div>
{{/issues}}
</div>