<div class="col-4">
    <div class="text-start border border-1 h-100">
        <h2 class="text-center m-0 py-2">Queued</h2>
        {{#queued.length}}
            <hr class="divider m-0 m-0" />
            <ul class="list-group list-group-flush">
                {{#queued.data}}
                    <li class="list-group-item">
                        <a href="{{url}}" target="_blank">{{title}}</a>
                    </li>
                {{/queued.data}}
            </ul>
        {{/queued.length}}
        {{^queued.data}}
            <p class="text-muted">No issues</p>
        {{/queued.data}}
    </div>
</div>
<div class="col-4">
    <div class="text-start border border-1 h-100">
        <h2 class="text-center m-0 py-2">Active</h2>
        {{#active.length}}
            <hr class="divider m-0 m-0" />
            <ul class="list-group list-group-flush">
                {{#active.data}}
                    <li class="list-group-item">
                        <a href="{{url}}" class="position-relative" target="_blank">{{title}}</a>
                        {{#paused}}
                            <br />
                            <span class="badge bg-secondary w-auto">Paused</span>
                        {{/paused}}
                    </li>
                {{/active.data}}
            </ul>
        {{/active.length}}
        {{^active.data}}
            <p class="text-muted">No issues</p>
        {{/active.data}}
    </div>
</div>
<div class="col-4">
    <div class="text-start border border-1 h-100">
        <h2 class="text-center m-0 p-2">Completed</h2>
        {{#completed.length}}
            <hr class="divider m-0 m-0" />
            <ul class="list-group list-group-flush">
                {{#completed.data}}
                    <li class="list-group-item">
                        <a href="{{url}}" target="_blank">{{title}}</a>
                    </li>
                {{/completed.data}}
            </ul>
        {{/completed.length}}
        {{^completed.data}}
            <p class="text-muted">No issues</p>
        {{/completed.data}}
    </div>
</div>